Latihan

In [2]:
level = {
    'intern': {
        'bonus': 5
    },
    'staff': {
        'bonus': 10
    },
    'manager': {
        'bonus': 15
    },
    'director': {
        'bonus': 20
    }
}

employee_data = [
    {
        'name': 'Rudi',
        'level': 'staff',
        'salary': 7500000
    },
    {
        'name': 'Rita',
        'level': 'intern',
        'salary': 1000000
    },
    {
        'name': 'Asep',
        'level': 'manager',
        'salary': 12000000
    },
    {
        'name': 'Ricky',
        'level': 'manager',
        'salary': 13500000
    },
    {
        'name': 'Lisa',
        'level': 'staff',
        'salary': 8500000
    },
    {
        'name': 'Imam',
        'level': 'intern',
        'salary': 1050000
    },
    {
        'name': 'Haryo',
        'level': 'director',
        'salary': 35000000
    }
]

In [3]:
# expected result
# based on level
# bonus = salary * bonus/100

# employee_bonus = { 
#     'Rudi': 750000,
#     'Rita': 50000
#     ...
# }

In [5]:
def calculate_employee_bonuses(employee_data, level_data):
    employee_bonus = {}
    
    for employee in employee_data:
        name = employee['name']
        emp_level = employee['level']
        salary = employee['salary']
        bonus_percentage = level_data[emp_level]['bonus']
        bonus = salary * bonus_percentage / 100
        employee_bonus[name] = bonus
    
    return employee_bonus

# Contoh penggunaan fungsi (misal data berasal dari input pengguna atau sumber eksternal):
bonuses = calculate_employee_bonuses(employee_data, level)
print(bonuses)

{'Rudi': 750000.0, 'Rita': 50000.0, 'Asep': 1800000.0, 'Ricky': 2025000.0, 'Lisa': 850000.0, 'Imam': 52500.0, 'Haryo': 7000000.0}